<div class="card">
    <!--Card content-->
    <div class="card-cascade wider text-center">
        <!--Title-->
        <div class="card-header">
            <h2 class="h2-responsive mb-2">Editar tarea</h2>
        </div>
    </div>
    <!--Text-->
    <div class="card-body">
        <div class="md-form">
            <p>Id</p>
            <input mdbInputDirective type="text" data-testid="idTarea" class="form-control" value="{{tarea?.id}}"
                readonly>
        </div>
        <div class="md-form">
            <p>Descripción</p>
            <input type="text" class="form-control" data-testid="descripcionTarea" [(ngModel)]="descripcionTarea"
                aria-describedby="sizing-addon2">
        </div>
        <br>
        <a data-testid="aceptar" class="btn btn-primary waves-light" mdbWavesEffect (click)="aceptar()">Aceptar</a>
        <a data-testid="cancelar" class="btn btn-warning waves-light" mdbWavesEffect (click)="cancelar()">Cancelar</a>
    </div>

</div>