<div>
    <h4>Agregar Tareas</h4>

    <form>
        <div class="row">
            <input [(ngModel)]="descripcionTarea" name="descripcionTarea" class="col-md-9" type="text" placeholder="Descripcion de la tarea">

            <div class="col-md-2">
                <button type="submit" class="btn btn-indigo" (click)="agregarTarea()">
                    <i class="fa fa-plus mr-1"></i>
                </button>
            </div>
        </div>
    </form>

    <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of tareas">
                <td>
                    <a [routerLink]="['/editarTarea', tarea.id]">{{tarea.id}}</a>
                </td>
                <td>
                    <a [routerLink]="['/editarTarea', tarea.id]" id="desc{{tarea.id}}">{{tarea.descripcion}}</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>